@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 1.18;
  color: #333333;
  background-color: #F2F2F2;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-container {
  flex-grow: 1;
}

.button {
  display: inline-block;
  font-family: inherit;
  font-size: 20px;
  line-height: 1.3;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  box-sizing: border-box;
}

.page-header {
  padding: 0 70px;
}

.navigation {
  display: flex;
  align-items: center;
  color: #000000;
  height: 65px;
  padding-left: 140px;
  position: relative;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 460px;
  list-style-type: none;
  margin-left: 30px;
  margin-right: auto;
}

.navigation-logo-link {
  margin-right: 30px;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.navigation-link {
  position: relative;
  color: inherit;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  padding: 20px 17px;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:active {
  opacity: 0.3;
}

.navigation-link-current::before {
  position: absolute;
  right: 17px;
  bottom: 0;
  left: 17px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-search {
  min-width: 42px;
  min-height: 66px;
  padding: 0;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-search:hover {
  color: #756257;
}

.navigation-search:active {
  opacity: 0.3;
}

.navigation-favourites {
  position: relative;
  min-width: 42px;
  min-height: 66px;
  padding: 0;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-favourites:hover {
  color: #756257;
}

.navigation-favourites:active {
  color: rgba(117, 98, 87, 0.3);
}

.navigation-favourites::after {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 15px;
  right: -2px;
  content: "12";
  font-size: 10px;
  color: #ffffff;
  background-color: #7DB54F;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.navigation-favourites:active::after {
  color: rgba(255, 255, 255, 0.3);
}

.button-navigation-user {
  background-color: #756257;
  font-size: 16px;
  line-height: 1.3;
  min-width: 160px;
  padding: 8px 14px;
  margin-left: 20px;
}

.button-navigation-user:hover {
  background-color: #615048;
}

.button-navigation-user:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #615048;
}

.button-navigation-user:focus {
  background-color: #615048;
  outline: 3px solid #83B3D3;
}

.intro {
  background-image: url("../images/edge.svg"), url("../images/index-bg.jpg");
  background-color: #83B3D3;
  background-repeat: no-repeat;
  background-size: 100% auto, cover;
  background-position: bottom center, top center;
  padding-top: 50px;
  padding-bottom: 82px;
}

.intro-image {
  display: block;
  margin: 0 auto;
}

.advantages-header {
  font-size: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin-top: 64px;
  margin-right: 240px;
  margin-bottom: 35px;
  margin-left: 240px;
}

.advantages-text {
  line-height: 1.2;
  text-align: center;
  margin-right: 240px;
  margin-bottom: 85px;
  margin-left: 240px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  list-style-type: none;
}

.advantages-item {
  font-size: 18px;
  line-height: 1.16;
  width: 400px;
  box-sizing: border-box;
  padding-top: 98px;
  padding-left: 75px;
  padding-right: 75px;
  padding-bottom: 90px;
}


.advantages-item:nth-child(1) {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
}

.advantages-item:nth-child(2) {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  padding: 0;
}

.advantages-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(4) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:nth-child(5) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-block {
  width: 400px;
  color: #ffffff;
  background-color: #83B3D3;
  box-sizing: border-box;
  padding-top: 98px;
  padding-left: 90px;
  padding-right: 90px;
}

.advantages-title {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  margin-top: 0;
  margin-bottom: 30px;
}

.advantages-block .advantages-title {
  color: #ffffff;
}

.advantages-number {
  margin-bottom: 30px;
}

.advantages-number::before, .advantages-number::after {
  content: "—";
  padding: 4px;
}

.advice-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advice-item {
  width: 400px;
  padding-top: 186px;
  padding-right: 75px;
  padding-bottom: 70px;
  padding-left: 75px;
  box-sizing: border-box;
}

.advice-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advice-housing {
  background-image: url('../images/housing.svg');
  background-repeat: no-repeat;
  background-position: center 90px;
}

.advice-food {
  background-image: url('../images/food.svg');
  background-repeat: no-repeat;
  background-position: center 90px;
}

.advice-souvenirs {
  background-image: url('../images/souvenirs.svg');
  background-repeat: no-repeat;
  background-position: center 86px;
}

.advice-title {
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 0;
  margin-bottom: 20px;
}

.advice-description {
  padding: 0;
}

.search {
  text-align: center;
  padding-top: 91px;
  padding-right: 240px;
  padding-bottom: 93px;
  padding-left: 240px;
}

.search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #000000;
  margin-top: 0;
  margin-bottom: 30px;
}

.search-text {
  margin-bottom: 54px;
}

.search-button {
  background-color: #756257;
  line-height: 1.7;
  width: 575px;
  padding: 13px;
  border-radius: 10px;
}

.search-button:hover {
  background-color: #615048;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #615048;
}

.search-button:focus {
  outline: 3px solid #83B3D3;
  background-color: #615048;
}

.subscription {
  text-align: center;
  color: #ffffff;
  background-color: #83B3D3;
  background-image: url(../images/subscription-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding-top: 94px;
  padding-right: 200px;
  padding-bottom: 94px;
  padding-left: 200px;
}

.subscription-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}

.subscription-text {
  margin-bottom: 46px;
}

.subscription-form {
  display: grid;
  grid-template-columns: 1fr 200px;
}

.subscription-input {
  font-family: inherit;
  font-size: 18px;
  background-color: #F2F2F2;
  border: none;
  padding-left: 19px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px 0px 0px 10px;
}

.subscription-input:hover {
  background-color: #E6E6E6;
}

.subscription-input:focus {
  outline: 3px solid #83B3D3;
  background-color: #E6E6E6;
}

.subscription-input:focus:invalid {
  background-color: #FFFFFF;
  outline: 2px solid #FF5757;
}

.subscription-button {
  border-radius: 0px 10px 10px 0px;
  padding-left: 30px;
  padding-right: 30px;
}

.subscription-button:hover {
  background-color: #68A2CA;
}

.subscription-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68A2CA;
}

.subscription-button:focus {
  outline: 3px solid #756257;
  background-color: #68A2CA;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding-top: 25px;
  padding-right: 70px;
  padding-bottom: 30px;
  padding-left: 72px;
  min-height: 70px;
}

.footer-social {
  width: 130px;
  margin-top: auto;
  margin-bottom: auto;
  left: -7px;
  position: relative;
}

.footer-social-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: left;
}

.footer-social-item {
  margin-right: 14px;
}

.footer-social-button {
  background-color: #FFFFFF;
  width: 30px;
  height: 30px;
  color: #83B3D3;
  position: relative;
}

.footer-social-button:hover {
  color: #68A2CA;
}

.footer-social-button:active {
  color: rgba(104, 162, 202, 0.3);
}

.footer-social-button:focus {
  color: #68A2CA;
  border: 3px solid #83B3D3;
}

.social-icon {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.footer-contacts {
  width: 720px;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 1;
  color: #000000;
  text-decoration: none;
  padding: 5px;
}

.htmlacademy-link {
  color: #000000;
  position: relative;
  right: -8px;
  width: 131px;
  box-sizing: border-box;
  padding: 5px;
}

.footer-contacts-phone:hover, .htmlacademy-link:hover {
  color: #756257;
}

.footer-contacts-phone:focus, .htmlacademy-link:focus {
  color: #756257;
  border: 3px solid #83B3D3;
  border-radius: 10px;
}

.footer-contacts-phone:active, .htmlacademy-link:active {
  color: rgba(117, 98, 87, 0.3);
}

.htmlacademy-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.catalog {
  line-height: 1.3;
}

.inner-header {
  background-image: url("../images/catalog/catalog-bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  color: #ffffff;
  background-color: #83B3D3;
  padding-top: 40px;
  padding-right: 70px;
  padding-bottom: 73px;
  padding-left: 72px;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 1.14;
  margin: 0;
}

.breadcrumbs-list {
  font-size: 16px;
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 37px;
  padding: 0;
  position: relative;
  left: -7px;
  top: -5px;
}

.breadcrumbs-item:not(:last-child) {
  padding-right: 8px;
  margin-right: 11px;
  position: relative;
}

.breadcrumbs-item:not(:last-child)::after {
  background-image: url('../images/arrow.svg');
  background-repeat: no-repeat;
  background-size: 5px 8px;
  width: 5px;
  height: 8px;
  content: "";
  position: absolute;
  right: 0px;
  top: 11px;
}

.breadcrumbs-link {
  border: 3px solid transparent;
  border-radius: 4px;
  padding: 5px;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-link:focus {
  border-color: #83B3D3;
}

.icon-main-page {
  display: block;
  background-image: url('../images/icon-main-page.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 12px 12px;
  width: 12px;
  height: 12px;
}

.catalog-filter {
  display: flex;
  color: #ffffff;
}

.catalog-filter-group {
  border: none;
  padding: 0;
  margin: 0;
}

.filter-infrastructure {
  width: 150px;
  margin-right: 66px;
}

.filter-type {
  width: 150px;
  margin-right: 162px;
}

.filter-price {
  width: 289px;
  margin-right: 80px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 1.3;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-bottom: 28px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-item {
  line-height: 1.28;
  font-size: 18px;
  margin-bottom: 11px;
}

.control-mark-checkbox {
  position: relative;
  top: 3px;
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: #FFFFFF;
  border-radius: 4px;
  margin-right: 15px;
}

.control:hover .control-mark-checkbox {
  background-color: rgba(255, 255, 255, 0.6);
}

.control:active .control-mark-checkbox {
  background-color: rgba(255, 255, 255, 0.3);
}

.control:focus .control-mark-checkbox {
  background-color: rgba(255, 255, 255, 0.6);
  outline: 3px solid #83B3D3;
}

.control-mark-radio {
  position: relative;
  top: 3px;
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: #FFFFFF;
  border-radius: 50%;
  margin-right: 15px;
}

.control:focus .control-mark-radio {
  outline: 3px solid #83B3D3;
}

.control-input[type="checkbox"]:checked+.control-mark-checkbox {
  background-image: url("../images/check.svg");
  background-repeat: no-repeat;
  background-size: 12px 10px;
  background-position: center;
}

.control-input[type="radio"]:checked+.control-mark-radio::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3F5E72;
  content: "";
}

.range-wrapper-inputs {
  display: flex;
  margin-bottom: 28px;
}

.range-label {
  position: relative;
}

.range-placeholder {
  font-size: 18px;
  line-height: 23px;
  position: absolute;
  right: 14px;
  top: 19px;
  color: rgba(255, 255, 255, 0.3);
}

.range-input {
  font-size: 18px;
  line-height: 23px;
  font-family: inherit;
  color: #FFFFFF;
  background-color: transparent;
  border: 2px solid #FFFFFF;
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  padding-top: 15px;
  padding-right: 40px;
  padding-bottom: 11px;
  padding-left: 17px;
  margin: 0;
  margin-top: 7px;
  z-index: 0;
}

.price-min {
  border-radius: 4px 0px 0px 4px;
  position: relative;
}

.price-max {
  border-radius: 0px 4px 4px 0px;
  position: relative;
  left: -2px;
}

.price-max+.range-placeholder {
  right: 17px;
}

.range-input:hover {
  border-color: rgba(255, 255, 255, 0.6);
  z-index: 1;
}

.range-input:active {
  background-color: #756257;
}

.range-input:focus {
  box-shadow: 0px 0px 0px 3px #81B3D2, inset 0px 0px 0px 3px #81B3D2;
  outline: none;
  z-index: 1;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range {
  padding-left: 10px;
  padding-right: 2px;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #FFFFFF;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.range-toggle:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  border: 2px solid #83B3D3;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
}

.range-toggle:focus {
  border: 3px solid #83B3D3;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  outline: none;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.filter-button-group {
  padding-top: 61px;
  width: 160px;
  text-align: center;
}

.button-filter {
  font-size: 16px;
  width: 100%;
  padding: 13px;
  margin-bottom: 16px;
}

.button-filter:hover {
  background-color: #68A2CA;
}

.button-filter:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68A2CA;
}

.button-filter:focus {
  background-color: #68A2CA;
  outline: 3px solid #FFFFFF;
}

.button-reset {
  font-size: 18px;
  line-height: 1.3;
  background-color: transparent;
  width: 100px;
  text-transform: none;
  font-weight: 300;
}

.button-reset:hover {
  color: rgba(255, 255, 255, 0.6);
}

.button-reset:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-reset:focus {
  outline: 3px solid #83B3D3;
}

.filter-sorting {
  display: flex;
  align-items: center;
  padding-top: 43px;
  padding-right: 72px;
  padding-left: 72px;
  padding-bottom: 44px;
  margin-bottom: 10px;
}

.filter-result-title {
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  color: #000000;
  width: 400px;
  margin: 0;
  margin-right: 129px;
}

.select {
  color: #333333;
  font-family: inherit;
  font-size: 18px;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  appearance: none;
  background-image: url("../images/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  padding-left: 16px;
  padding-right: 46px;
}

.select:hover, .select:focus {
  border-color: #83B3D3;
}

.select:active {
  color: rgba(51, 51, 51, 0.3);
  border-color: #E6E6E6;
}

.filter-select-sorting {
  width: 287px;
  height: 48px;
  margin-right: auto;
  padding-left: 16px;
}

.button-view {
  color: #000000;
  background-color: #ffffff;
  display: block;
  min-width: 48px;
  min-height: 48px;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  margin-left: 8px;
  background-repeat: no-repeat;
  background-position: center;
}

.button-view:hover, .button-view:focus {
  border-color: #83B3D3;
}

.view-list {
  background-image: url('../images/mode-list.svg');
}

.view-slideshow {
  background-image: url('../images/mode-slideshow.svg');
}

.view-tile {
  background-image: url('../images/mode-tile.svg');
}

.button-view-current {
  border-color: #000000;
}

.product-list {
  display: grid;
  position: relative;
  grid-template-columns: 340px 340px 340px;
  gap: 37px 18px;
  list-style-type: none;
  margin-right: 72px;
  margin-left: 72px;
  margin-top: 0;
  margin-bottom: 29px;
  padding-top: 20px;
  padding-right: 0;
  padding-bottom: 43px;
  padding-left: 0;
}

.product-list::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #E6E6E6;
}

.product-card {
  display: grid;
  grid-template-columns: 133px 141px;
  grid-template-areas: "image image"
    "title title"
    "type price"
    "more favorites"
    "raitings raitings";
  gap: 16px 26px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0;
}

.product-card .image {
  grid-area: image;
  display: block;
}

.product-card .image:hover {
  opacity: 0.6;
}

.product-card .image:active {
  opacity: 0.3;
}

.product-card .image:focus .product-card-image {
  outline: 3px solid #83B3D3;
}

.product-card .title {
  grid-area: title;
}

.product-card-title {
  font-weight: 700;
  font-size: 24px;
  color: #000000;
  margin: 0;
}

.product-card-link {
  text-decoration: none;
}

.product-card-image {
  display: block;
  object-fit: contain;
}

.product-card-type {
  font-size: 18px;
  grid-area: type;
}

.product-card-price {
  font-size: 18px;
  grid-area: price;
}

.button-product-more {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756257;
  grid-area: more;
  padding-top: 8px;
  padding-bottom: 7px;
}

.button-product-more:hover {
  background-color: #615048;
}

.button-product-more:active {
  background-color: #615048;
  color: rgba(255, 255, 255, 0.3);
}

.button-product-more:focus {
  background-color: #615048;
  outline: 3px solid #83B3D3;
}

.button-product-favorites {
  font-size: 16px;
  grid-area: favorites;
  padding-top: 8px;
  padding-bottom: 7px;
}

.button-product-favorites:hover {
  background-color: #68A2CA;
  outline: 1px solid #756257;
}

.button-product-favorites:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68A2CA;
  outline: 1px solid #756257;
}

.button-product-favorites:focus {
  background-color: #68A2CA;
  outline: 3px solid #756257;
}

.in-favorites {
  background-color: #7DB54F;
}

.in-favorites:hover {
  background-color: #6C9E42;
}

.in-favorites:active {
  outline: 3px solid #6C9E42;
  color: rgba(255, 255, 255, 0.3);
}

.in-favorites:focus {
  background-color: #6C9E42;
  outline: 3px solid #756257;
}

.product-card-raitings {
  grid-area: raitings;
  display: flex;
  justify-content: space-between;
}

.product-card-stars {
  width: 24px;
  height: 18px;
  background-size: 24px 18px;
  background-image: url('../images/star.svg');
  background-position: 0 0;
  background-repeat: repeat-x;
  margin-top: 10px;
}

.stars-2 {
  width: 48px;
}

.stars-3 {
  width: 72px;
}

.stars-4 {
  width: 96px;
}

.product-card-raiting {
  font-size: 16px;
  text-transform: uppercase;
  background-color: #F2F2F2;
  border-radius: 4px;
  width: 160px;
  height: 37px;
  display: block;
  text-align: center;
  padding: 8px;
  box-sizing: border-box;
}

.pagination-show-more {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  width: 620px;
  padding: 14px;
  border: 3px solid transparent;
  border-radius: 4px;
}

.pagination-show-more:hover {
  background-color: #68A2CA;
}

.pagination-show-more:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68A2CA;
}

.pagination-show-more:focus {
  border-color: #756257;
  background-color: #68A2CA;
}

.catalog-view-group::before {
  position: absolute;
  content: "";
  top: -30px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #E6E6E6;
}

.catalog-view-group {
  display: flex;
  margin-left: 72px;
  margin-right: 72px;
  position: relative;
}

.pagination-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-right: auto;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-link {
  width: 55px;
  height: 55px;
  text-align: center;
  border: 3px solid transparent;
  padding-top: 11px;
}

.pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68A2CA;
}

.pagination-link:focus {
  border: 3px solid #756257;
  background-color: #68A2CA;
}

.pagination-link-current {
  color: #000000;
  background-color: #F2F2F2;
}

.number-cards {
  font-size: 18px;
  width: 385px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.number-cards select {
  width: 160px;
  height: 48px;
  margin: 0;
}

.subscription-catalog {
  background-image: none;
  background-color: #FFFFFF;
  color: #333333;
  padding-top: 73px;
  margin-bottom: 47px;
}

.subscription-catalog .subscription-title {
  color: #000000;
  margin-bottom: 46px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding-top: 53px;
  padding-right: 70px;
  padding-bottom: 70px;
  padding-left: 68px;
  background-color: #FFFFFF;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  box-sizing: border-box;
}

.modal-search {
  width: 715px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;
}

.modal-title {
  font-size: 30px;
  line-height: 1.3;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.modal-close-button {
  width: 53px;
  height: 53px;
  background-color: #F2F2F2;
  padding: 20px;
  border: none;
  border-radius: 50%;
}

.modal-close-button:hover {
  background-color: #E6E6E6;
}

.modal-close-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.modal-close-button:focus {
  outline: 3px solid #83B3D3;
}

.search-form {
  font-size: 18px;
  line-height: 2.2;
  font-family: inherit;
  font-weight: 700;
  display: grid;
  grid-template-columns: 145px 133px 133px 133px;
  gap: 13px 10px;
  align-items: baseline;
  padding-left: 2px;
}

.button-search-form {
  margin-top: 28px;
  grid-column: 1/5;
  height: 60px;
  display: block;
  border-radius: 10px;
}

.button-search-form:hover {
  background-color: #68A2CA;
}

.button-search-form:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-search-form:focus {
  background-color: #68A2CA;
  border: 3px solid #756257;
}

.input-check-in {
  grid-column: 2/5;
}

.input-check-out {
  grid-column: 2/5;
}

.input-date {
  background-image: url("../images/calendar.svg");
  background-repeat: no-repeat;
  background-position: right 19px center;
}

.search-form-field {
  position: relative;
}

.search-form-input {
  color: #000000;
  font: inherit;
  width: 100%;
  height: 50px;
  background-color: #F2F2F2;
  border: none;
  outline: none;
  border-radius: 4px;
  padding-left: 18px;
  padding-right: 30px;
  box-sizing: border-box;
  margin: 0;
  padding-top: 0;
}

.search-form-input:hover {
  background-color: #E6E6E6;
}

.search-form-input:active {
  background-color: #FFFFFF;
  outline: 2px solid #000000;
}

.search-form-input:focus {
  outline: 3px solid #83B3D3;
}

.search-form-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #333333;
  display: block;
}

.info-error {
  color: #FF5757;
}

.input-number {
  padding-left: 50px;
  padding-right: 50px;
  appearance: none;
  text-align: center;
}

.input-number::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.button-plus, .button-minus {
  width: 19px;
  height: 19px;
  position: absolute;
  top: 16px;
  background-color: transparent;
  padding: 3px;
}

.button-minus {
  left: 16px;
}

.button-plus {
  right: 16px;
}

.button-minus::before, .button-plus::before, .button-plus::after {
  content: "";
  height: 1px;
  width: 13px;
  background-color: #000000;
  opacity: 0.3;
  position: absolute;
  top: 9px;
  left: 3px;
}

.button-plus::after {
  transform: rotate(90deg);
}

.button-minus:hover::before,
.button-plus:hover::before,
.button-plus:hover::after {
  opacity: 1;
}

.button-minus:active::before,
.button-plus:active::before,
.button-plus:active::after {
  opacity: 0.2;
}

.button-minus:focus, .button-plus:focus {
  outline: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
}

.label-children {
  grid-column: 3/4;
  justify-self: center;
}

.tooltip {
  position: absolute;
  width: 25px;
  height: 25px;
  margin-top: 10px;
  margin-left: 12px;
}

.tooltip-toggle {
  background-color: #83B3D3;
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 50%;
  position: relative;
  display: block;
}

.tooltip-toggle::before {
  content: "";
  width: 1px;
  height: 1px;
  background-color: #FFFFFF;
  position: absolute;
  top: 8px;
  right: 12px;
}

.tooltip-toggle::after {
  content: "";
  width: 1px;
  height: 6px;
  background-color: #FFFFFF;
  position: absolute;
  top: 11px;
  right: 12px;
}

.tooltip-toggle:hover, .tooltip-toggle:focus {
  background-color: #68A2CA;
}

.tooltip-text {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: #333333;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 256px;
  box-sizing: border-box;
  display: block;
  padding-top: 19px;
  padding-right: 22px;
  padding-bottom: 24px;
  padding-left: 22px;
  position: absolute;
  left: -115px;
  top: 40px;
  z-index: 1;
  display: none;
}

.tooltip-text::before {
  content: "";
  width: 19px;
  height: 9px;
  background-image: url("../images/triangle.svg");
  background-repeat: no-repeat;
  background-size: 19px 9px;
  position: absolute;
  top: -9px;
  left: 118px;
}

.tooltip-toggle:hover+.tooltip-text,
.tooltip-toggle:focus+.tooltip-text {
  display: block;
}
